html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*                   End of reset                  */


html, body {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    color: #fff;
    background-color: rgb(29, 38, 45);
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: 70px;
}

.navigation {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(34, 34, 34);
    font-size: 2rem;
    position: fixed;
    z-index: 1;
    opacity: .95;
    border-bottom: 1px solid #fff;
}

.navigation ul {
    display: flex;
    justify-content: center;
}

.navigation ul a {
    transition: .3s;
    padding: 15px 40px;
    text-decoration: none;
    color: #fff;
}

.navigation ul a:hover {
    color: #A3A2FF;
    transition: .3s;
    cursor: pointer;
}

.project-section {
    margin-top: 15vh;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.project-image {
    display: flex;
    flex-direction: column;
}

.project-image img {
    width: 400px;
    border: solid 1px #fff;
    margin-bottom: 20px;
}

.project-image h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.project-image ul {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 10px;
    list-style-type: circle;
    list-style-position: inside;
}

.project-image li {
    margin: 5px 0;
}

.project-image a {
    text-decoration: none;
    color: #A3A2FF;
    font-size: 2rem;
}

.project-info {
    width: 50%;
}

.project-title {
    font-size: 3rem;
    margin-bottom: 10px;
}   

.project-p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 22px;
}

footer {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(34, 34, 34);
}

footer p {
    font-size: 1.8rem;
}

footer p a {
    color: #A3A2FF;
}


.link-icon { 
    color: #fff;
    transition: .3s;
    font-size: 3rem;
    margin: 0 10px;
}

.link-icon:hover {
    transition: .3s;
    color: #A3A2FF;
    cursor: pointer;
}


@media only screen and (max-width: 1100px) {
    html {
        font-size: 60%;
    }

    .project-section {
        padding: 0 5%;
    }

    .project-image img {
        width: 350px;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 62.5%;
    }

    .project-section {
        display: flex;
        flex-direction: column;
    }

    .project-image {
        margin-bottom: 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    .project-image img {
        width: 400px;
    }

    .project-info {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .project-image {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 58%;
    }

    .project-section {
        display: flex;
        flex-direction: column;
        margin-top: 12vh;
    }

    .project-image {
        margin-bottom: 50px;
    }

    .project-image img {
        width: 300px;
    }

    .project-info {
        width: 100%;
        margin-bottom: 20px;
    }

    footer p{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 52%;
    }

    .navigation {
        font-size: 1.8rem;
    }

    .project-image img {
        width: 250px;
    }

    footer p{
        font-size: 1.4rem;
    }
}